<main class="main">
  {% if repo_link %}
    <a href="{{ repo_link }}" class="button repo-link">Repo</a>
  {% endif %}

  <div data-pagefind-body>
    {{ content | maybeLoadRemoteReadme({repo_link: repo_link, title: title}) | safe }}
  </div>

  {% set children = collections.all | eleventyNavigation(eleventyNavigation.key) %}
  {% if children | length %}
    <div class="children">
      <h2>In this Section</h2>
      {{ children | eleventyNavigationToHtml({listClass: "children"}) | safe }}
    </div>
  {% endif %}
</main>

