<div class="main-header">
  <div class="main-header_search">
    <div id="search" class="search"></div>
    <script src="/_pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
  </div>

  <ul class="main-header_buttons">
    <li>
      <a class="github-button" href="https://github.com/gmrchk/swup" data-size="large" data-icon="octicon-star" data-show-count="true" data-size="medium" aria-label="Star gmrchk/swup on GitHub">Star</a>
    </li>
  </ul>

</div>