<nav
  role="navigation"
  aria-label="Main navigation"
  class="nav hide-on-front-page">
  {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
    listClass: "navigation-list",
    listItemClass: "navigation-list-item",
    listItemHasChildrenClass: "has-children",
    activeListItemClass: "active",
    anchorClass: "navigation-list-link",
    activeAnchorClass: "",
    activeKey: eleventyNavigation.key
  }) | safe }}
</nav>
