<article class="page" x-data="Page">
  <main>

    <div class="page_body text" data-pagefind-body>
      {{ content | prepareContent | safe }}
    </div>

    {% if (eleventyNavigation) and (eleventyNavigation.key) %}
      {% set children = collections.all | eleventyNavigation(eleventyNavigation.key) %}
      {% if children | length %}
        <div class="in-this-section text">
          <h2>In this Section</h2>
          {{ children | eleventyNavigationToHtml() | safe }}
        </div>
      {% endif %}
    {% endif %}
  </main>
  <footer id="footer">

    <div class="edit-this-page text">
      <p>
        {% feather "edit" %}
        {% if repo_link %}
          <a href="{{ repo_link }}/blob/main/README.md" target="_blank">Suggest changes to this page</a>
        {% else %}
          <a href="https://github.com/swup/docs/blob/main/src{{ page.filePathStem }}.md" target="_blank">Suggest changes to this page</a>
        {% endif %}
      </p>
    </div>

    {% include "page-nav.njk" %}
  </footer>
</article>
{% if content | prepareContent | toc %}
  <aside class="toc" aria-label="Article" x-data="TableOfContents" x-bind="bindings">
    <div class="toc_inner">
      <h4 class="toc_title">On this page</h4>
      {{ content | prepareContent | toc | safe }}
    </div>
  </aside>
{% endif %}
