{% set nav = collections.all | eleventyNavigation | getPreviousAndNextPage(eleventyNavigation.key) %}
<nav>
    <ul class="page-nav">
        <li class="page-nav_item">
            <a class="page-nav_link" href="{{ nav.previous.url }}">
                Previous: <br>
                {{ nav.previous.title }}
            </a>
        </li>
        <li class="page-nav_item">
            <a class="page-nav_link" href="{{ nav.next.url }}">
                Next: <br>
                {{ nav.next.title }}
            </a>
        </li>
    </ul>
</nav>
