<div class="search" x-data="Search">
  <button
    type="button"
    class="header_button search_toggle"
    x-on:click="open"
    x-on:keydown.window="onKeyDown">
    {% feather "search" %}
    <span class="search_toggle_label m:max:hidden">Search</span>
    <span class="search_toggle_keys m:max:hidden">
      <span x-text="metaKey"></span>K
    </span>
  </button>

  <template x-teleport="body">
    <!-- Modal -->
    <div
        class="search-modal"
        x-show="isOpen"
        x-on:keydown.escape.prevent.stop="close"
        role="dialog"
        aria-modal="true"
    >
        <!-- Backdrop -->
        <div
          x-show="isOpen"
          x-on:click="close"
          x-transition.opacity
          class="search-modal_backdrop">
        </div>

        <!-- Panel -->
        <div
            x-show="isOpen" x-transition
            class="search-modal_panel"
        >
            <div
                x-trap.noscroll.inert="isOpen"
                class="search-modal_body"
            >
                <div id="search" x-on:click="onSearchClick"></div>
                <script src="/_pagefind/pagefind-ui.js" async onload="new PagefindUI({ element: '#search', showImages: false });"></script>
            </div>
        </div>
    </div>
  </template>

</div>
