<div class="search" x-data="Search">
  <button
    type="button"
    class="header_button search_toggle"
    x-on:click="open"
    x-on:keydown.window="onKeyDown">
    {% feather "search" %}
    <span class="search_toggle_label m:max:hidden">Search</span>
    <span class="search_toggle_keys m:max:hidden">
      <span x-text="metaKey"></span>K
    </span>
  </button>

  <template x-teleport="body">
    <!-- Modal -->
    <div
        class="search-modal"
        x-show="isOpen"
        x-on:keydown.escape.prevent.stop="close"
        role="dialog"
        aria-modal="true"
    >
        <!-- Backdrop -->
        <div
          class="search-modal_backdrop"
          x-show="isOpen"
          x-on:click="close"
          x-transition.opacity
        >
        </div>

        <!-- Panel -->
        <div
          class="search-modal_panel"
          x-show="isOpen" x-transition
        >
            <div
              class="search-modal_body"
              x-trap.noscroll.inert="isOpen"
            >
                <div x-data="SearchUI" class="search_ui">
                  <form class="search_ui_form">
                    {% feather "search" %}
                    <input class="search_ui_input" type="text" x-model="term"></input>
                  </form>

                  <template x-if="term.length > 1 && !isSearching && !results.length">
                    <p class="search_ui_no-results">No results found</p>
                  </template>

                  <template x-if="results.length">
                    <ul class="search_ui_results">
                    <template x-for="result in results" :key="result.url">
                      <li class="search_ui_result">
                        <a class="search_ui_result_link" :href="result.url">
                          <h3 class="search_ui_result_title" x-text="result.meta.title"></h3>
                          <p class="search_ui_result_excerpt" x-html="result.excerpt"></p>
                        </a>
                      </li>
                    </template>
                    </ul>
                  </template>
                </div>

            </div>
        </div>
    </div>
  </template>

</div>
