<article class="page">
  <main>

    <div class="page_body text" data-pagefind-body>
      {{ content | prepareContent | safe }}
    </div>

    <section class="site-grid">
      {%- for site in collections.showcase | reverse -%}
        <article>
          <header>
            <h2>
              <a href="{{ site.data.url }}" target="_blank" rel="external">
                {{ site.data.title }}
              </a>
            </h2>
            <span aria-hidden="true">Open</span>
          </header>
          <ul>
            {%- for credit in site.data.credits -%}
              <li>
                <a href="{{ credit.url }}" target="_blank" rel="external">
                  {{ credit.name }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
          <a href="{{ site.data.url }}" target="_blank" rel="external" tabindex="-1" aria-hidden="true">
            {{ site.data.title }}
          </a>
        </article>
      {%- endfor -%}
    </section>

  </main>
</article>
