<aside class="links">
    <div class="links__inner">
        <h2>You might also like...</h2>
        <div class="links__items" data-links></div>
        <div class="links__buttons">
            <button class="btn-link" data-links-all>Show all</button>
            <a href="https://github.com/swup/docs/blob/master/assets/js/other-links-config.js" class="btn-link">Add yours</a>
        </div>
        <div class="newsletter">
            <iframe id="newsletter" src="/newsletter/" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</aside>
