<div class="version-notice text">
  <p class="version-notice_message">
    You are browsing the docs for swup 3.
    <br><a href="https://swup.js.org">Click here</a> for the latest version.
  </p>
</div>
