<div class="version-notice" x-data="{show: true}" x-show="show">
  <p class="version-notice_message">
    You are browsing the docs for swup 3.
    <br><a href="https://swup.js.org">Click here</a> for the latest version.
  </p>
  <button x-on:click="show = false">{% feather "x" %}</button>
</div>
