<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  {% if page.description %}
  <meta name="Description" content="{{ page.description }}">
  {% endif %}

  {% if page.title %}
    <title>{{ page.title }} | {{ site.title }}</title>
  {% else %}
    <title>Swup - complete, flexible, extensible and easy to use page transition library.</title>
  {% endif %}
  <link rel="stylesheet" href="{{ "/assets/css/just-the-docs.css" | absolute_url }}">

  {% if site.ga_tracking != nil %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.ga_tracking }}');
      GA_MEASURE_ID = '{{ site.ga_tracking }}';
    </script>
  {% endif %}

  {% if site.search_enabled != nil %}
    <script type="text/javascript" src="{{ "/assets/js/vendor/lunr.min.js" | absolute_url }}"></script>
  {% endif %}
  <script type="text/javascript" src="{{ "/assets/js/just-the-docs.js" | absolute_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="{{ "/assets/images/icon.png" | absolute_url }}">

  <script async defer rel="prefetch" src="https://buttons.github.io/buttons.js"></script>
  {% seo %}
  <meta property="og:image" content="{{ "/assets/images/og.png" | absolute_url }}">
</head>
