<script type="text/javascript" src="{{ "/assets/js/vendor/swup.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendor/SwupDebugPlugin.min.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendor/SwupScrollPlugin.min.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendor/SwupFadeTheme.min.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendor/SwupSlideTheme.min.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendor/SwupOverlayTheme.min.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendor/SwupBodyClassPlugin.min.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendor/SwupGaPlugin.min.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/other-links-config.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/main.js" | absolute_url }}"></script>
