//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type

* {
  box-sizing: border-box;
}

::selection {
  //color: $white;
  background: #60DDCD;
}

html {
  @include fs-4;
}

body {
  font-family: $body-font-family;
  font-size: inherit;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
noscript,
table {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  font-weight: 500;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
}

p {
  margin-bottom: 1em;
  line-height: ($body-line-height*1.2)
}

a {
  color: $body-heading-color;
  text-decoration: none;
}

a:not([class]) {
  text-decoration: none;
  background-image: linear-gradient(#60DDCD 0%, #60DDCD 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 2px;
  padding: 0 0 1px 0;
  font-weight: 500;
  //transition: background .2s;

  &:hover {
    background-size: 1px 6px;
  }
}

code {
  font-family: $mono-font-family;
  font-size: 12px;
  line-height: $body-line-height;
}

figure {
  margin: 0;
}

li {
  margin: 0.5em 0;
  line-height: $body-line-height * 1.2;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
}
