//
// Typography
//
// stylelint-disable primer/selector-no-utility, selector-no-type, selector-max-type

h1,
.text-alpha {
  @include fs-12;
  font-weight: 300;
}

h2,
.text-beta {
  @include fs-8;
  font-weight: 800;
  margin-top: 1.5em;
  margin-bottom: 0.3em;
  font-weight: 800;
}

h3,
.text-gamma {
  @include fs-5;
}

h4,
.text-delta {
  @include fs-2;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h5,
.text-epsilon {
  @include fs-3;
  color: $grey-dk-200;
}

h6,
.text-zeta {
  @include fs-2;
  color: $grey-dk-200;
}

li {
  .highlight {
    margin-top: $sp-2;
  }
}

.text-small {
  @include fs-2;
}

.text-mono {
  font-family: $mono-font-family !important;
}

.text-center {
  text-align: center !important;
}
