<!DOCTYPE html>
<html lang="en-US">
  {% include "head.njk" %}
  <body>
    <div class="page-wrap">
      <div class="side-bar">
        <a href="/" class="site-title fs-6 lh-tight">
          <img src="/assets/images/swup-logo.svg" alt="{{ site.title }}"/>
        </a>
        <span class="fs-3"></span>
        <button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">
          Menu
        </button>
      </span>
      <div class="navigation main-nav js-main-nav">
        {% include "nav.njk" %}
      </div>
    </div>
    <div class="main-content-wrap js-main-content" tabindex="0" id="main">
      {% include "main-header.njk" %}
      <div class="main-content" id="swup">
        <div id="main-content" class="page-content" role="main">
          {% if repo_link %}
            <a href="{{ repo_link }}" class="btn btn-repo fs-5 mb-4">Repo</a>
          {% endif %}
          {% if external_link %}
          <article>
            <h1>{{ title }}</h1>
            <p>You will be redirected to <a href="{{ external_link }}">{{ external_link }}</a></p>
          </article>
          {% else %}
          <article data-pagefind-body>
            {{ content | maybeLoadRemoteReadme({repo_link: repo_link, title: title}) | safe }}
          </article>
          {% endif %}

          {% set children = collections.all | eleventyNavigation(eleventyNavigation.key) %}
          {% if children | length %}
          <h2>In this Section</h2>
          {{ children | eleventyNavigationToHtml({listClass: "toc"}) | safe }}
          {% endif %}

          <footer class="edit-this-page">
            <p>
              {% feather "edit" %}
              {% if repo_link %}
                <a href="{{ repo_link }}/blob/master/readme.md" target="_blank">Suggest changes to this page</a>
              {% else %}
                <a href="https://github.com/swup/docs/blob/master/src{{ page.filePathStem }}.md" target="_blank">Suggest changes to this page</a>
              {% endif %}
              <br><span class="text-small">Last updated: {{ page.inputPath | fileDate("mtime") }}</span>
            </p>
          </footer>
        </div>
        {% include "page-navigation.njk" %}
      </div>
      {% include "sidebar.njk" %}
    </div>
  </body>
</html></div>{% include "scripts.njk" %}</body></html>
