<!DOCTYPE html>
<html lang="en-US" dir="ltr" class="no-js light">
    {% include "head.njk" %}
    <body class="front-page">
        {% include "header.njk" %}
        <div class="container">
            {% include "nav.njk" %}
            <div id="swup">
                {% include "intro.njk" %}
            </div>
        </div>
        {% include "scripts.njk" %}
    </body>
</html>
