{% extends "base.njk" %}
{% block body %}
<body class="front-page">
    {% include "header.njk" %}
    <div class="container">
        {% include "nav.njk" %}
        <div id="swup">
            {% include "intro.njk" %}
        </div>
    </div>
    {% include "scripts.njk" %}
</body>
{% endblock %}
