<!DOCTYPE html>
<html lang="en-US" dir="ltr" class="no-js">
    {% include "head.njk" %}
    <body class="front-page">
        {% include "header.njk" %}
        {% include "nav.njk" %}
        <div id="swup">
            {% include "intro.njk" %}
        </div>
        {% include "scripts.njk" %}
    </body>
</html>
