<!DOCTYPE html>

<html lang="en-US">
    {% include "head.njk" %}
    <style>
        body {
            padding: 0;
        }
    </style>
    <body>
        {% include "newsletter.njk" %}
    </body>
</html>
