---
pagination:
  data: types
  size: 1
  alias: type
eleventyComputed:
  title: '{{ type.name }} ({{ type.kindLabel }})'
  description: '{{ type.summary }}'
section_label: Types
section_url: /api/types/
permalink: '/api/types/{{ type.kindDir }}/{{ type.slug }}/'
layout: typedoc
generated: true
---

<h1>
  <div><code class="tsd-tag">{{ type.kindLabel }}</code></div>
  <div>{{ type.name }}</div>
</h1>

{{ type.content | safe }}
