---
pagination:
  data: types
  size: 1
  alias: type
eleventyComputed:
  title: '{{ type.name }} ({{ type.kindLabel }})'
  description: '{{ type.summary }}'
section_label: Types
section_url: /api/types/
permalink: '/api/types/{{ type.kindDir }}/{{ type.slug }}/'
layout: typedoc
generated: true
---

{{ type.content | safe }}
