*:not(pre) > code:not([class]) {
	padding: .2rem .25rem;
	background-image: linear-gradient(-170deg, rgba(96, 221, 205, 0.2) 0%, rgba(53, 123, 114, 0.2) 100%);
	border-color: transparent;
	border-radius: 4px;
}