.shiki {
	box-sizing: border-box;
	padding: 0.7rem 1rem;
	@include mq(md) {
		padding: 1rem 1.2rem;
	}
	border-radius: $border-radius;
}
.shiki code {
	font-family: $mono-font-family;
	font-size: 14px;
	line-height: 1;
}

/*
* Highlight lines
* @see https://github.com/antfu/markdown-it-shiki#highlight-lines
*/
code[v-pre] {
	display: flex;
	flex-direction: column;
}

.shiki .highlighted {
	background: #7f7f7f20;
	display: block;
	margin: 0 -1rem;
	padding: 0 1rem;
}
