pre.shiki {
	box-sizing: border-box;
	padding: 0.7rem 1rem;
	@include mq(md) {
		padding: 1rem 1.2rem;
	}
	border-radius: $border-radius;
}
pre.shiki code {
	font-family: $mono-font-family;
	font-size: 14px;
	line-height: 1;
}