//
// The basic two column layout
//

.side-bar {
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;
  transition: opacity .3s;
  overflow: hidden;

  @include mq(md) {
    transition: transform .3s .2s, opacity .3s .2s;
    flex-wrap: nowrap;
    position: fixed;
    width: $nav-width + 16px;
    height: 100%;
    padding-top: $gutter-spacing * 2;
    padding-bottom: 0;
    flex-direction: column;
    //border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    //width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }

  .page--homepage & {
    opacity: 0;
    transform: translate3d(-40%, 0, 0);
    transition: transform 0s .2s, opacity .2s;
  }
}

.main-content-wrap {
  @include mq(md) {
    //position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
  }
}

.main-content {
  padding-top: $gutter-spacing-sm;

  @include container;

  @include mq(md) {
    position: relative;
    max-width: $content-width;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin: 0 auto;
    margin-left: $nav-width;
    //padding-left: 0;
    //padding-right: 0;
  }

  @media (min-width: 1200px) {
    margin: 0 auto;
  }

  .iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    background: #eaeaef;
  }

  iframe {
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.edit-this-page {
  border-top: 1px solid #ddd;
  margin: 30px 0;
  padding: 20px 0;
  color: #5c5962;
}

.js-main-content:focus {
  outline: none;
}

.main-header {
  padding-inline: 1rem;
  padding-block-start: 1rem;
  transition: opacity .8s;

  // justify-content: flex-end;
  display: flex;
  flex-direction: column-reverse;

  @include mq(md) {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }

  pointer-events: none;

  > * {
    pointer-events: all;
  }

  &_search {
    flex: none;
    display: block;
    width: 100%;

    @include mq(md) {
      width: 320px;
      display: flex;
    }
  }

  &_buttons {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    @include mq(md) {
      padding-block-start: 0.4rem;
    }
    li {
      margin: 0;
      position: relative;
      top: 0.1em;
    }
  }


}


.navigation,
.site-title,
.site-footer {
  @include container;
  width: 100%;

  @include mq(lg) {
    width: $nav-width + 32px;
  }
}

.navigation {
  padding: 50px 20px 0;
  margin-bottom: -20px;

  @include mq(md) {
    margin-top: 3.5rem;
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
    overflow-y: auto;
    flex: 1 1 auto;
    margin-bottom: 0;
    padding-left: 3rem;
  }
}

body {
  position: relative;
  padding-bottom: $sp-10;
  transition: .2s;

  @include mq(md) {
    position: static;
    padding-bottom: 0;
  }
}

.site-footer {
  position: absolute;
  bottom: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;

  @include mq(md) {
    position: static;
    align-self: flex-end;
    justify-self: end;
    background-color: $sidebar-color;
  }
}
