html {
	font-size: 17px;
	line-height: 1.6;
}

body {
	color: var(--color);
	background: var(--background);
}

a {
	color: inherit;
	font-weight: 400;
	text-decoration: none;
}

::selection {
	background-color: var(--swup-red);
	color: white;
}

:focus-visible {
	outline-offset: 0;
	outline: 2px solid var(--swup-red);
}

ul {
	list-style: disc;
}

::marker {
	color: var(--swup-green);
}

/*
* Don't render an outline for a focused main element
* @see
*/
main[tabindex='-1'] {
	outline: none;
}

/*
* Hide alpine components initially
*/
.js [x-cloak] {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

/*
* Container
*/
.default .container {
	@include bp(m) {
		display: grid;
		grid-template-columns: 250px minmax(0, 1fr);
	}
	@include bp(xl) {
		grid-template-columns: 250px minmax(0, 1fr) 250px;
	}
}
