button {
  appearance: none;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--size-fluid-2);
}
.button {
  position: relative;
  display: block;
  text-decoration: none;
  border: var(--border-size-2) solid var(--text-1);
  border-radius: var(--radius-round);
  font-size: var(--font-size-fluid-1);
  font-weight: 500;
  padding: 0.3em 1.2em 0.35em;
  transition: all 150ms;

  &.button--filled {
    background-color: var(--text-1);
    color: var(--swup-blue);
  }
  @include mixins.hover {
    background-color: var(--text-1);
    color: var(--swup-blue);
    transform: translateY(-3%);
    box-shadow: var(--shadow-3);
  }

}
