.repl {
	display: block;
	position: relative;
	iframe {
		width: 100%;
		height: 500px;
		background: transparent;
		border: 1px solid var(--color-transparent-1);
		border-radius: var(--radius-1);
		filter: drop-shadow(0 0 5px hsl(var(--shadow-color) / var(--shadow-strength-dark)));
		overflow: hidden;
	}
	iframe + p {
		position: absolute;
		bottom: 1.5rem;
		right: 2rem;
		margin: 0;
		a {
			background: none !important;
		}
	}
}

img[src*='https://replit.com/badge'] {
	display: inline-block;
	margin-inline: .3em;
	filter:
		drop-shadow(0 0 1px var(--color-transparent-2))
		drop-shadow(0 0 5px hsl(var(--shadow-color) / var(--shadow-strength-dark)));
}

.page_body > p > img[src*='https://replit.com/badge'] {
	transform: translateY(.3em);
}

.fake-browser {
	iframe {
		border-radius: 0;
	}
}
