.header {
  display: flex;
  gap: var(--size-1);
  padding: var(--size-8);
  align-items: center;
  @media (--lg-n-above) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  transition: opacity 400ms 400ms;

  @at-root body.front-page & {
    opacity: 0;
    pointer-events: 0;
    transition: none;
  }
  z-index: 4;
  pointer-events: none;
  a, button {
    pointer-events: all;
  }
}
.header_logo {
  width: var(--size-11);
  margin-inline-end: auto;
  position: relative;
  transform: translateY(-10%);
}
.social-link {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: var(--radius-round);
  width: var(--size-6);
  height: var(--size-6);
}
.header_button svg {
  display: block;
  pointer-events: none;
  fill: var(--gray-6);
}

