.intro {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 100svh;

	@at-root .light & {
		--color: var(--swup-blue);
	}
	@at-root .dark & {
		// --color: var(--swup-green);
	}
	color: var(--color);
}

.intro_background {
	position: absolute;
	inset: 0;

	background-size: 100vmax 100vmax;
	background-repeat: no-repeat;
	background-position: center;

	background-image: radial-gradient(hsl(239 50% 30% / 0.1), transparent 50%);

	@at-root .dark & {
		background-image: radial-gradient(rgb(255 255 255 / 0.1), transparent 50%);
	}
}

.intro,
.intro * {
	transform-origin: top;
}

.intro_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	max-width: 600px;
	padding-block-start: calc(var(--gap-x2) + 1.5em);
	padding-block-end: var(--gap-x2);
	padding-inline: var(--size-fluid-3);
	position: relative;
	// transform: translateY(-5%);
	min-height: 100svh;
}

.intro_body > * + * {
	margin-top: calc(var(--gap) * 1.5);
}

.intro_slogan {
	font-size: var(--font-size-fluid-1);
	max-width: 500px;
	margin-inline: auto;
	font-weight: 500;
	line-height: 1.3;
}

.intro_logo {
	display: block;
	margin-inline: auto;
	width: 100%;
	aspect-ratio: 16 / 6.9;
	position: relative;
	@at-root .dark & {
		filter: drop-shadow(4px 4px 1px rgba(0 0 0 / 0.4));
	}
	@media screen and (orientation: landscape) {
		max-width: 60vw;
	}
}

.intro_logo .swup-logo {
	width: 100%;
	display: block;
	position: absolute;
	fill: currentColor;
}

.intro_announcement {
	position: fixed;
	top: 0;
	left: 50%;
	width: 100%;
	padding: var(--gap);
	transform: translateX(-50%);
	font-size: var(--font-size-fluid-1);
	max-width: 500px;
	margin-inline: auto;
	line-height: 1.3;
	font-weight: 500;
	margin-top: 0 !important;
	a {
		font-weight: 500;
	}
}
