
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: var(--size-fluid-6);
  min-height: 100svh;
}
.intro_background {
  background-image: radial-gradient(ellipse at bottom, var(--swup-blue) 30%, var(--swup-blue-dark) 60%);
  background-size: cover;
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms;
  @at-root .front-page & {
    transition-duration: 400ms;
    opacity: 1;
  }
}
.intro, .intro * {
  transform-origin: top;
}

.intro_body {
  width: 80%;
  max-width: 650px;
  padding-inline: var(--size-fluid-3);
  position: relative;
  transform: translateY(-5%);
}

.intro .button {
  position: relative;
}

.intro_body>*+* {
  margin-top: var(--size-7);
}

.intro_slogan {
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-4);
  color: var(--text-1);
}

.intro_logo {
  display: block;
  margin-inline: auto;
  width: 100%;
  aspect-ratio: 16 / 6.9;
  position: relative;
}

.intro_logo .swup-logo {
  width: 100%;
  display: block;
  position: absolute;
  fill: var(--swup-blue);
}
