.front-page {
  background: var(--swup-blue);
  background-image: radial-gradient(ellipse at top, var(--swup-blue) 30%, var(--swup-blue-dark) 60%);
  background-size: cover;
}

.intro {
  min-height: 100vh;
  color: var(--red-10);
  display: flex;
  align-items: center;
  justify-content: center;
  --text-1: white;
  text-align: center;
}
.intro, .intro * {
  transform-origin: top;
}

.intro_body {
  width: 100%;
  max-width: 650px;
  padding-inline: var(--size-fluid-3);
  position: relative;
  transform: translateY(-5%);
}

.intro .button {
  position: relative;
}

.intro_body>*+* {
  margin-top: var(--size-7);
}

.intro_slogan {
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-4);
  color: var(--text-1);
}

.intro_logo {
  margin-inline: auto;
  width: 80%;
}

.swup-logo {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 6.9;
}

.swup-logo-link {
  position: relative;
  display: block;
}
.swup-logo svg {
  display: block;
  fill: white;
}

.swup-logo_part {
  position: absolute;

  &[data-part=s] {
    width: 19.2%;
    bottom: 1.2%;
  }

  &[data-part=w] {
    width: 32.1%;
    left: 21.2%;
    bottom: 6.4%;
  }

  &[data-part=u] {
    width: 19.9%;
    left: 55.4%;
    bottom: 15%;
  }

  &[data-part=p] {
    width: 22.2%;
    left: 77.8%;
    bottom: 0%;
  }

  &[data-part=dot1] {
    width: 6.6%;
    left: 46.7%;
    bottom: 70.3%;
    svg {
      fill: var(--swup-red);
    }
  }
  &[data-part=dot2] {
    width: 6.6%;
    left: 55.1%;
    bottom: 84.7%;
    svg {
      fill: var(--swup-green);
    }
  }
}
