@mixin hover($applyToFocusVisible: false) {
	&:not(.is-disabled):not(:disabled) {
		@media all and (hover: hover) {
			&:hover {
				@content;
			}
		}
		&.is-active {
			@content;
		}
		&:active {
			@content;
		}
		@if $applyToFocusVisible == true {
			&:focus-visible {
				@content;
			}
		}
	}
}

@mixin hoverSupport {
	@media all and (hover: hover) {
		@content;
	}
}

@mixin aspectRatio($width, $height) {
	width: 100%;
	padding-bottom: calc(100% / (#{$width} / #{$height}));
	@supports (aspect-ratio: 1 / 1) {
		padding-bottom: 0;
		aspect-ratio: #{$width} / #{$height};
	}
}
