.nav {
  height: calc(100svh - var(--header-height));
  position: sticky;
  top: var(--header-height);
  overflow: hidden;

  @include bp(m, max) {
    display: none;
  }

  @at-root body.front-page & {
    display: none;
  }
}

.nav_inner {
  position: relative;
  margin: 0;
  padding-inline-start: var(--gap);
  padding-block: var(--gap);
  overflow: auto;
  height: 100%;

  /* Don't propagate scrolling to the main container */
  overscroll-behavior: contain;

  /* Fade to transparent at top and bottom */
  mask-image: linear-gradient(to bottom,
    transparent,
    black var(--gap),
    black calc(100% - var(--gap)),
    transparent);

  /* Hide the scroll bar */
  width: calc(100% + 50px);
  padding-right: 50px;
}

.nav_inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav_list > li {
  margin-block-end: 1em;
}
.nav_list>li>a {
  display: inline-block;
  font-weight: bold;
}

.nav_list>li>ul {
  padding: 0;
}
.nav_list>li>ul a {
  color: var(--color-transparent-3);
}
.nav_list_item {
  margin-block-end: 0.2em;
}
.nav_list_link {
  display: inline-block;
  text-decoration: none;
}

.nav_indicator {
  display: block;
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  background: var(--swup-red);
  border-radius: var(--radius-round);
  top: 0;
  left: calc(var(--gap) * 0.5);
  transform: translateY(calc(var(--offset-y) - 50%)) translateX(-50%);
  transition: transform 300ms var(--ease-squish-2);
}

/*
* Mobile Nav
*/
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  &.is-open {
    pointer-events: all;
  }
  .nav_indicator {
    display: none;
  }
  .nav_list_link.is-active {
    background-image: linear-gradient(var(--swup-green) 0%, var(--swup-green) 100%);
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 1px 2px;
  }
}
.mobile-nav_content {
  position: relative;
  height: 100%;
  width: calc(100% - var(--gap-x2));
  max-width: 300px;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 350ms var(--ease-out-5);
  background: var(--background);
  border-left: 1px solid var(--color-transparent-1);
  @at-root .is-open & {
    transform: translateX(0%);
  }
}
.mobile-nav_backdrop {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0);
  z-index: 0;
  opacity: 0;
  transition: opacity 250ms 150ms;
  @at-root .is-open & {
    opacity: 0.8;
  }
}
