.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  max-width: 250px;
  height: 100%;
  background: white;
  z-index: 10;
  overflow: hidden;

  @media (--md-n-above) {
    z-index: 3;
    background: transparent;
  }

  transition: transform 250ms,
  opacity 500ms 250ms;
  transform: translateX(-100%);

  @media (--md-n-above) {
    transform: translateX(0%);
  }

  @at-root body.front-page & {
    transition: none;
    opacity: 0;
    transform: translateX(-100%) !important;
  }
}

.nav_list {
  mask-image: linear-gradient(180deg,
      transparent,
      transparent 100px,
      black 160px);
  margin: 0;
  padding-left: var(--size-fluid-4);
  overflow: auto;
  overscroll-behavior: contain;
  height: 100%;
  width: calc(100% + 50px);
  padding-right: 50px;

  @media (--md-n-above) {
    padding-top: 150px;
  }
}

.nav ul {
  list-style: none;
}

.nav_list>li {
  margin-bottom: var(--size-3);
}

.nav_list>li>a {
  font-weight: bold;
}

.nav_list>li>ul {
  padding: 0;
}

.nav_list_link {
  display: inline-block;
  text-decoration: none;
  margin-block-end: var(--size-1);
}
