.nav--desktop {
	height: calc(100svh - var(--header-height));
	position: sticky;
	top: var(--header-height);
	overflow: hidden;
	transition: opacity 300ms;
	transition-delay: 400ms;

	@include bp(m, max) {
		display: none;
	}

	@at-root body.front-page & {
		position: absolute;
		opacity: 0;
		transition-delay: 0ms;
		pointer-events: 0;
		* { pointer-events: none !important; }
	}
}

.nav_inner {
	position: relative;
	margin: 0;
	padding-inline: var(--gap);
	padding-block: var(--gap);
	overflow: auto;
	height: 100%;

	/* Don't propagate scrolling to the main container */
	overscroll-behavior: contain;

	/* Fade to transparent at top and bottom */
	mask-image: linear-gradient(
		to bottom,
		transparent,
		black var(--gap),
		black calc(100% - var(--gap)),
		transparent
	);

	--scrollbar-hack-width: 50px;

	/* Hide the scroll bar */
	@at-root .nav--desktop & {
		width: calc(100% + var(--scrollbar-hack-width));
		padding-right: var(--scrollbar-hack-width);
	}
	@at-root .nav--mobile & {
		padding: var(--gap-x2);
	}
}

.nav_inner ul {
	margin: 0;
	padding-inline: 0 2px;
	list-style: none;
}

.nav_list > li + li {
	margin-top: 1.5em;
}
.nav_list > li > ul {
	padding: 0;
}
.nav_list > li > ul a {
	color: var(--color-transparent-3);
	@include mixins.hover(true) {
		color: var(--color);
	}
}
.nav_list_item {
	margin: 0;
}
.nav_list_link {
	display: block;
	padding-block: 0.2rem;
	text-decoration: none;
	border-radius: var(--radius-0);
	@at-root .nav_list > li > & {
		font-weight: bold;
	}
}

.nav_indicator {
	display: block;
	position: absolute;
	width: 0.6em;
	height: 0.6em;
	background: var(--swup-red);
	border-radius: var(--radius-round);
	top: 0;
	left: 0;
	transform: translate(calc(var(--gap) * 0.5 - 10%), -50%);
	@at-root .nav--mobile & {
		left: calc(var(--gap) * 0.5);
		// visibility: hidden;
	}
}

/*
* Mobile Nav
*/
.mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	pointer-events: none;
	display: flex;
	justify-content: flex-end;
	&.is-open {
		pointer-events: all;
	}
}
.mobile-nav_content {
	position: relative;
	height: 100%;
	width: calc(100% - var(--gap-x2));
	max-width: 300px;
	z-index: 1;
	transform: translateX(100%);
	transition: transform 350ms var(--ease-out-5);
	background: var(--background);
	border-left: 1px solid var(--color-transparent-1);
	@at-root .is-open & {
		transform: translateX(0%);
	}
}
.mobile-nav_backdrop {
	position: absolute;
	inset: 0;
	background: rgb(0 0 0);
	z-index: 0;
	opacity: 0;
	transition: opacity 250ms 150ms;
	@at-root .is-open & {
		opacity: 0.8;
	}
}
