.page {
	padding-inline: var(--gap);
	padding-block: var(--gap-x2) calc(var(--gap-x2) * 2);
	width: min(80ch, 100%);
	margin-inline: auto;

	@include bp(m) {
		padding-block-start: var(--gap);
	}
}

.page main {
	position: relative;
}

.text {
	a:not([class]) {
		text-decoration: none;
		font-weight: 500;
		background-image: linear-gradient(
			var(--link-underline-color) 0%,
			var(--link-underline-color) 100%
		);
		background-repeat: no-repeat;
		background-position: 0 100%;
		background-size: calc(100% - var(--_icon-size, 0px)) 2px;

		@include mixins.hover {
			background-size: calc(100% - var(--_icon-size, 0px)) 4px;
		}
	}

	> * + * {
		margin-block: 1em 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		word-wrap: break-word;
		line-height: 1.1;
		margin: 0;
		font-weight: 700;
		&:first-child {
			margin-top: 0;
		}
		+ :is(h1, h2, h3, h4, h5, h6) {
			margin-top: 1em !important;
		}
	}

	h2 {
		font-size: var(--font-size-fluid-2);
		margin-top: 4rem;
	}

	h3 {
		font-size: var(--font-size-fluid-1);
		margin-top: 3rem;
	}

	h4,
	h5,
	h6 {
		margin-top: 2rem;
		font-size: var(--font-size-fluid-0);
	}

	ul:not([class]),
	ol:not([class]) {
		padding-inline-start: 1.1em;
	}

	li:not([class]) {
		margin-block-end: 0.5em;
	}

	.iframe {
		width: 100%;
		aspect-ratio: 16 / 9;

		iframe {
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}

	.header-anchor {
		background: none;
		font-weight: inherit;
		display: inline-flex;

		--opacity: 0.3;

		@media (hover) {
			--opacity: 0;
		}

		@include mixins.hover {
			--opacity: 0.3;
		}

		&::after {
			content: '#';
			display: inline-block;
			margin-inline-start: 0.2em;
			transform: scale(0.8);
			font-weight: normal;
			transition: opacity 100ms;
			opacity: var(--opacity);
		}

		code {
			user-select: auto;
			font-weight: normal;
			white-space: nowrap;
		}
	}
}

.edit-this-page {
	margin: 50px 0;
}

.edit-this-page p {
	margin: 0;
}

.page_body_header {
	font-size: var(--font-size-fluid-3);
	margin-block: 0 1em;
	line-height: 1;
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	gap: 1rem;
}

.page_body_header h1 {
	font-size: 1em;
	margin: 0;
	position: relative;
	z-index: 1;
}

.page_body_header + * {
	margin-top: 0 !important;
}

.page_body + .in-this-section {
	margin-top: 5rem;
}

@include bp(xs) {
	.page_body_header {
		display: block;
	}

	.page_body_header_buttons {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
	}

	.page_body_header_buttons + h1 {
		margin-right: 20%;
		top: -0.15em;
	}
}

/*
* Code Blocks
*/
.code-block {
	--code-block-bg: var(--color-transparent-0);
	--code-block-fade: transparent;
	--code-block-text: var(--color-dimmed);
	position: relative;
	border-radius: var(--radius-1);
	overflow: hidden;
	.dark & {
		--code-block-bg: hsl(210 12% 16% / 0.9);
		--code-block-fade: hsl(210 12% 16% / 0.9);
	}
}

.code-block:after {
	content: '';
	display: block;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 6rem;
	height: 6rem;
	background: linear-gradient(to top right, transparent 50%, var(--code-block-fade) 70%);
	z-index: 1;
}

.code-block_copy {
	position: absolute;
	top: 0.7rem;
	right: 0.6rem;
	background: transparent;
	color: var(--code-block-text);
	font-family: var(--font-mono);
	border-radius: var(--radius-0);
	padding: 0 0.3em;
	height: 1.1em;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	z-index: 2;
}

.code-block_language {
	font-size: 0.6rem;
}

.code-block pre:not(.shiki) {
	margin: 0;
}

.code-block pre {
	white-space-collapse: unset;
}

.code-block .line {
	white-space-collapse: preserve;
}

.code-block .line:empty:not(:last-child) {
	&::after {
		content: ' ';
	}
}

.shiki {
	width: 100%;
	overflow: auto;
	padding-block: 0.6rem;
	padding-inline: 0;
	font-size: 0.85rem;
	line-height: 1.5;
	margin: 0;
}

.shiki .line {
	display: block;
	padding-inline: 1rem 4rem;
	&:before {
		content: ' ';
		display: inline-block;
		transform: translateX(-.5em);
	}
}

.shiki .line:empty {
	&:before {
		display: none;
	}
}

.shiki .line:first-child {
	margin-block-start: -.6rem;
	padding-block-start: .6rem;
}

.shiki .line:last-child,
.shiki .line:nth-last-child(2) {
	margin-block-end: -.6rem;
	padding-block-end: .6rem;
}

.shiki-container .shiki {
	padding-block: 0.6rem;
}

.shiki ::selection {
	background-color: var(--color-transparent-2) !important;
	color: unset;
}

.shiki.github-light {
	background-color: var(--code-block-bg) !important;
}

.shiki .line.remove {
	background-color: rgba(255, 0, 0, 0.15);
	&:before {
		content: '-';
		color: rgba(159, 45, 45, 0.6);
	}
}

.shiki .line.add {
	background-color: rgba(0, 255, 0, 0.15);
	&:before {
		content: '+';
		color: rgba(33, 127, 33, 0.6);
	}
}

html.dark .shiki-container .github-light,
html:not(.dark) .shiki-container .github-dark {
  display: none;
}

/*
* Inline code blocks
*/
.text *:not(pre) > code {
	font-size: 0.8em;
	padding: 0.2rem 0.25rem;
	background-image: linear-gradient(
		-170deg,
		hsla(172, 65%, 62%, 0.3) 0%,
		hsla(172, 65%, 62%, 0.25) 100%
	);
	border-radius: 0.2em;
	user-select: all;
}
.text a > code {
	background-image: none;
	padding-inline: 0;
}

/*
* Tippy custom styles
*/
.tippy-box {
	font-size: 0.8rem;
	font-family: var(--font-mono);
	color: rgb(0 0 0 / 0.8);
	background: var(--swup-green);
}

.tippy-content {
	padding: 0.3em 0.5em;
}

.tippy-arrow {
	color: var(--swup-green);
}

/*
* Blockquotes
*/
.text > blockquote {
	margin-inline: 0;
	padding-block: 0;
	padding-inline: 1em;
	border-left: 0.1em solid var(--color-transparent-2);
	color: var(--color-dimmed);
}

.text p:has(.wide-image) {
	@include bp(l) {
		margin-left: -3em;
		margin-right: -3em;
	}
	@include bp(xl) {
		margin-left: -4em;
		margin-right: -10em;
		width: auto;
	}
}

/*
* Page Nav
*/
.page-nav_buttons {
	justify-content: space-between;
}

.page-nav_item.--next:first-child {
	margin-inline-start: auto;
}

/*
* Scoped style for feather icons
*/
.page *:not(.button) > .feather {
	position: relative;
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	vertical-align: middle;
	position: relative;
	top: -0.1em;
}
