:root {
	--swup-blue: hsl(239 50% 30%);
	--swup-red: hsl(354 99% 68%);
	--swup-green: hsl(172 65% 62%);

	--font-mono: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco,
		Droid Sans Mono, Source Code Pro, monospace;

	--font-size-fluid-0: clamp(1rem, 2vw, 1.15rem);
	--font-size-fluid-1: clamp(1.15rem, 3vw, 1.35rem);
	--font-size-fluid-2: clamp(1.35rem, 4vw, 1.7rem);
	--font-size-fluid-3: clamp(1.7rem, 5vw, 2.2rem);

	--ease-out-1: cubic-bezier(0, 0, 0.75, 1);
	--ease-out-2: cubic-bezier(0, 0, 0.5, 1);
	--ease-out-3: cubic-bezier(0, 0, 0.3, 1);
	--ease-out-4: cubic-bezier(0, 0, 0.1, 1);
	--ease-out-5: cubic-bezier(0, 0, 0, 1);
	--ease-elastic-1: cubic-bezier(0.5, 0.75, 0.75, 1.25);
	--ease-elastic-2: cubic-bezier(0.5, 1, 0.75, 1.25);
	--ease-elastic-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
	--ease-elastic-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
	--ease-elastic-5: cubic-bezier(0.5, 1.75, 0.75, 1.25);
	--ease-squish-1: cubic-bezier(0.5, -0.1, 0.1, 1.5);
	--ease-squish-2: cubic-bezier(0.5, -0.3, 0.1, 1.5);
	--ease-squish-3: cubic-bezier(0.5, -0.5, 0.1, 1.5);
	--ease-squish-4: cubic-bezier(0.5, -0.7, 0.1, 1.5);
	--ease-squish-5: cubic-bezier(0.5, -0.9, 0.1, 1.5);

	--gap: clamp(1rem, 2vw, 2rem);
	--gap-small: calc(var(--gap) * 0.5);
	--gap-x2: calc(var(--gap) * 2);

	--spacer: clamp(1rem, 2vw, 2rem);

	--header-height: calc(var(--gap) * 2 + 2rem);

	--border: 2px solid;
	--radius-round: 1000px;
	--radius-0: 0.2em;
	--radius-1: 0.4em;
	--radius-2: 0.6em;

	--shadow-color: 239 49% 30%;
	--shadow-strength: 10%;
	--shadow-strength-dark: 20%;

	--shadow-1: 0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
		0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
		0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
		0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
		0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));

	--external-link-icon-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' %3E%3Cline x1='7' y1='17' x2='17' y2='7'%3E%3C/line%3E%3Cpolyline points='7 7 17 7 17 17'%3E%3C/polyline%3E%3C/svg%3E");
	--external-link-icon-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' %3E%3Cline x1='7' y1='17' x2='17' y2='7'%3E%3C/line%3E%3Cpolyline points='7 7 17 7 17 17'%3E%3C/polyline%3E%3C/svg%3E");

	--link-underline-color: var(--swup-green);
	--link-underline-color: var(--swup-green);

	--version-notice-height: 3rem;
}

.light {
	--color: rgb(0 0 0);
	--color-dimmed: rgb(100 100 100);
	--background: rgb(255 255 255);
	--color-transparent-0: rgb(0 0 0 / 0.07);
	--color-transparent-1: rgb(0 0 0 / 0.1);
	--color-transparent-2: rgb(0 0 0 / 0.2);
	--color-transparent-3: rgb(0 0 0 / 0.5);
	--external-link-icon: var(--external-link-icon-light);
}

.dark {
	--color: rgb(230 230 230);
	--color-dimmed: rgb(130 130 130);
	--background: hsl(239 50% 5%);
	--color-transparent-0: rgb(255 255 255 / 0.08);
	--color-transparent-1: rgb(255 255 255 / 0.15);
	--color-transparent-2: rgb(255 255 255 / 0.2);
	--color-transparent-3: rgb(255 255 255 / 0.5);
	--external-link-icon: var(--external-link-icon-dark);
}

.light,
.dark {
	color: var(--color);
	background: var(--background);
}
