
.search_toggle {
  border-radius: var(--radius-round);
  display: flex;
  align-items: center;
  gap: var(--size-1);

  @media (--mouse) {
    // color: var(--gray-7);
    // border: 2px solid var(--swup-red);
    background: var(--transparent-background);
    padding: var(--size-2) var(--size-2);
  }
}
.search_toggle svg {
  --size: var(--size-5);
  width: var(--size);
  height: var(--size);
  @media (hover) {
    --size: var(--size-3);
    margin-left: var(--size-1);
  }
}
.search_toggle_label {
  margin-inline-end: var(--size-3);
  display: none;
  @media (hover) {
    display: block;
  }
}
.search_toggle_keys {
  font-size: 0.7em;
  color: hsl(var(--gray-12-hsl) / 40%);
  background: var(--background);
  padding: var(--size-1) var(--size-2);
  border-radius: var(--radius-round);
  display: none;
  @media (hover) {
    display: block;
  }
}

.search-modal {
  position: fixed;
  inset: 0;
  z-index: 100;
}
.search-modal_backdrop {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 0.6);
  z-index: -1;
  cursor: no-drop;
}
.search-modal_panel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: var(--size-fluid-3);
  overflow: auto;
  pointer-events: none;
}
.search-modal_body {
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  padding: var(--size-fluid-3);
  background: white;
  width: 100%;
  max-width: 600px;
  pointer-events: all;
}
