#search {
  display: none;
}
.search_toggle {
  background: hsl(var(--text-1) / 10%);
  border-radius: var(--radius-round);
  display: flex;
  align-items: center;
  gap: var(--size-1);
  color: var(--gray-6);
  padding: var(--size-2) var(--size-2);
}
.search_toggle svg {
  width: var(--size-3);
  height: var(--size-3);
  margin-left: var(--size-1);
}
.search_toggle_label {
  margin-inline-end: var(--size-3);
}
.search_toggle_keys {
  font-size: 0.7em;
  // letter-spacing: -0.1em;
  color: hsl(var(--text-1) / 40%);
  background: var(--background);
  padding: var(--size-1) var(--size-2);
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-1);
}
