table {
	display: block;
	width: 100%;
	max-width: 100%;
	margin-block: var(--gap);
	overflow-x: auto;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid var(--color-transparent-1);
	border-radius: var(--radius-1);
	font-size: 0.8rem;

	@include bp(s) {
		display: table;
		font-size: 1rem;
	}
}

th,
td {
	min-width: 120px;
	padding-block: 1em;
	padding-inline: 1em;
	background-color: transparent;
	border-bottom: 1px solid var(--color-transparent-1);
	vertical-align: top;

	&:not(:first-of-type) {
		border-left: 1px solid var(--color-transparent-1);
	}
}
tr:last-child td {
	border-bottom: 0;
}
tr[data-swup-scroll-target] {
	background: var(--color-transparent-0);
}
tr:first-child th:first-child,
tr:first-child td:first-child {
	border-top-left-radius: var(--radius-1);
}
tr:first-child th:last-child,
tr:first-child td:last-child {
	border-top-right-radius: var(--radius-1);
}
tr:last-child td:first-child {
	border-bottom-left-radius: var(--radius-1);
}
tr:last-child td:last-child {
	border-bottom-right-radius: var(--radius-1);
}

thead {
	th {
		text-align: left;
		border-bottom: 1px solid var(--color-transparent-1);
	}
}

@include bp(s, max) {
	.events-table table {
		font-size: 1rem;
		border-radius: var(--radius-0);

		thead {
			display: none;
		}

		tr,
		th,
		td {
			display: block;
		}

		tr {
			border-bottom: 1px solid var(--color-transparent-1);
			padding: 0.75em 1em;
		}

		td {
			border: none;
			padding: 0;
		}
	}
}
