.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
}
iframe {
  display: block;
  background: transparent;
}
