
.version-select_label {
	font-size: 0.95rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	@include bp(m) {
		font-size: 0.8rem;
	}
	.feather {
		width: 0.9em;
		margin-right: -0.3em;
	}
}

.version-select_options {
	margin-block: 0.2em;
	margin-inline: -0.5em;
	padding: 0;
	list-style: none;
	a {
		display: block;
		padding: 0.5em 1em;
		white-space: nowrap;
		font-size: 0.9em;
		@include mixins.hover {
			background: rgb(0 0 0 / 0.1);
		}
	}
}
