.version-notice {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: var(--swup-red);
	color: white;
	gap: 1rem;
	padding: 0.75em 1em;
	z-index: 3;
	font-weight: 500;
	font-size: 0.9em;

	display: grid;
	grid-template-columns: [message] 1fr [close] 2rem;
	align-items: start;
}
.version-notice_message {
	margin: 0;
	grid-column: message;
}
.version-notice a {
	text-decoration: underline;
	font-weight: bold;
}
.version-notice_dismiss {
	grid-column: close;
	min-width: 25px;
}

@include bp(s) {
	.version-notice {
		grid-template-columns: 2rem [message] 1fr [close] 2rem;
		text-align: center;
		align-items: center;
		font-size: 1em;
	}
	.version-notice br {
		display: none;
	}
}
