<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body class="page--homepage">
        <div class="page-wrap">
            <div class="side-bar">
                <a href="{{ site.url }}{{ site.baseurl }}/" class="site-title fs-6 lh-tight">
                    <img src="{{ "/assets/images/swup-logo.svg" | relative_url }}" alt="{{ site.title }}"/>
                </a>
                <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">Menu</button></span>
                <div class="navigation main-nav js-main-nav">
                    {% include nav.html %}
                </div>
            </div>
            <div class="main-content-wrap js-main-content" tabindex="0" id="main">
                <div class="page-header">
                    <label class="search-holder">
                        {% if site.search_enabled != nil %}
                        <div class="search js-search">
                            <div class="search-input-wrap">
                                <input type="text" class="js-search-input search-input" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
                                <svg width="14" height="14" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg" class="search-icon"><title>Search</title><g fill-rule="nonzero"><path d="M17.332 20.735c-5.537 0-10-4.6-10-10.247 0-5.646 4.463-10.247 10-10.247 5.536 0 10 4.601 10 10.247s-4.464 10.247-10 10.247zm0-4c3.3 0 6-2.783 6-6.247 0-3.463-2.7-6.247-6-6.247s-6 2.784-6 6.247c0 3.464 2.7 6.247 6 6.247z"/><path d="M11.672 13.791L.192 25.271 3.02 28.1 14.5 16.62z"/></g></svg>
                            </div>
                            <div class="js-search-results search-results-wrap"></div>
                        </div>
                        {% endif %}
                        {% if site.aux_links != nil %}
                        <ul class="list-style-none text-small mt-md-1 mb-md-1 pb-4 pb-md-0 aux-nav">
                            <li class="d-inline-block my-0 mr-2">
                                <a class="github-button" href="https://github.com/gmrchk/swup" data-icon="octicon-star" data-show-count="true" data-size="medium" aria-label="Star gmrchk/swup on GitHub">Star</a>
                            </li>
                        </ul>
                        {% endif %}
                    </label>
                </div>
                <div class="main-content" id="swup">
                    <div id="main-content" class="page-content" role="main">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        {% include swup.html %}
    </body>
</html>
